
@{
    ViewData["Title"] = "Index";
}
<div>
    <input type="button" id="new" value="New order" onclick="newOrderClicked();" />
</div>

@section scripts
    {

    <script>
        //------------------------------Fetch----------------------------------------------------------------------------------------------
        $(document).ready(function () {

            getOrders();
        });
        function getOrders() {
            $("#divOrdersList").load("/Home/GetOrders");
        }
        //------------------------------Delete----------------------------------------------------------------------------------------------
        function deleteClicked(id) {
            // jQuery UI pitää lisät Bower:n kautta (Projektin päällä hiiren oikean napin alta Manage Bower Packages ... )

            $("#deleteDialog").load("/Home/DeleteView", { id: id }, function () {
                $("#deleteDialog").dialog(
                    {
                        title: "Delete order?", width: 1600, height: 200, modal: true, buttons: {
                            OK: function () {
                                deleteOrder(id, $(this));
                            },
                            Cancel: function () { $(this).dialog("close") }
                        }
                    })
            });
        }

        function deleteOrder(id, dlg) {
            $.get("/Home/Delete/" + id, function (data) {
                if (data.status == "OK") {
                    dlg.dialog("close");
                    getOrders();
                }
            });

        }

        //------------------------------Create----------------------------------------------------------------------------------------------
        function newOrderClicked() {
            $("#newDialog").load("/Home/CreateView", function () {
                $("#newDialog").dialog(
                    {
                        title: "Give order info", width: 600, height: 200, modal: true, buttons: {
                            OK: function () {
                                createOrder($(this));
                            },
                            Cancel: function () { $(this).dialog("close") }
                        }
                    })
            });
        }
        function createOrder(dlg) {
            var newoppilas = $("#newOrderForm").serialize();

            $.ajax({
                type: "POST",
                data: newoppilas,
                dataType: "json",
                url: "/Home/CreateOrder/",
                success: function (data) {
                    alert(data.msg);
                    dlg.dialog("close");
                    getOrders();
                },
                error: function (data) {
                    alert(data.msg);
                }
            });
        }
        //------------------------------Edit----------------------------------------------------------------------------------------------
        function editClicked(id) {

            // jQuery UI pitää lisät Bower:n kautta (Projektin päällä hiiren oikean napin alta Manage Bower Packages ... )
            $("#editDialog").load("/Home/EditView", { id: id }, function () {

                $("#editDialog").dialog(
                    {
                        title: "Edit order?", width: 600, height: 200, modal: true, buttons: {
                            OK: function () {
                                editOrder($(this));
                            },
                            Cancel: function () { $(this).dialog("close") }
                        }
                    })
            });
        }
        function editOrder(dlg) {

            var order = $("#editOrderForm").serialize();

            $.ajax({
                type: "POST",
                data: order,
                dataType: "json",
                url: "/Home/EditOrder/",
                success: function (data) {
                    alert(data.msg);
                    dlg.dialog("close");
                    getOrders();
                },
                error: function (data) {
                    alert(data.msg);
                }
            });
        }

    </script>
}

<div id="divOrdersList">
</div>
<div id="deleteDialog">
</div>
<div id="newDialog">
</div>
<div id="editDialog">
</div>